
<div class="col-sm-3 col-lg-3">
	<div class="dash-unit">
		<dtitle>{{ book["tag"] }} </dtitle>
		<hr>
		<div class="thumbnail">
			<img src="{{ static_url(book["img"]) }}" alt="Marcel Newman"> <!-- class="img-circle" -->
		</div><!-- /thumbnail -->
				<h1> {{ book["name"] }} </h1>
				<h3>{{ book["author"] }}</h3>
        <div class="cont">
			<form id = "submit_form" method="post" action = "/push/book/{{ book["name"] }}">
				{% module xsrf_form_html() %}
			<input name = "uri" type="hidden" value="{{ request.uri }}">
			<!--<button role="button" class="btnnew" data-toggle="modal" onclick="push_check();" type="submit">-->
			<button role="button" class="btnnew" data-toggle="modal" type="submit" onclick = "push_check();">
				推送至kindle
			</button>

			</form>
        </div>

	</div>




</div>


