
<div class="col-sm-3 col-lg-3">

	<script type="text/javascript">
		function book_info() {
			document.location = "{{ request.protocol + "://" + request.host + "/book/" + book["name"].split(".")[0] }}";
		}
	</script>


	<div class="dash-unit">
		<dtitle>{{ book["tag"] }} </dtitle>
		<hr>
		<div class="thumbnail">
			<img onclick="book_info();" src="{{ static_url(book["img"]) }}" alt="Marcel Newman">

		</div><!-- /thumbnail -->
				<h1> {{ book["name"].split(".")[0] }} </h1>
				<h3>{{ book["author"] }}</h3>
        <div class="cont">
			<form id = "submit_form" method="post" action = "/push/book/{{ book["name"].split(".")[0] }}">
				{% module xsrf_form_html() %}
			<input name = "uri" type="hidden" value="{{ request.uri }}">
			<button role="button" class="btnnew" data-toggle="modal" type="submit" onclick = "push_check();">
				推送至kindle

			</button>

			</form>
        </div>

	</div>

</div>


