{% extends "subbase.html" %}

	{% block part %}
		{% module PartLine(push_title) %}
	{% end %}

	{% block book %}

		{% for book in push_books %}
				{% module PushBook(book) %}
		{% end %}

		{% module PartLine(upload_title) %}

		{% for book in upload_books %}
			{% module UploadBook(book) %}
		{% end %}

	{% end %}


{% block footer %}

<div id="footerwrap">
      	<footer class="clearfix"></footer>
      	<div class="container">
      		<div class="row">
      			<div class="col-sm-12 col-lg-12">
      			<p><img src="{{ static_url("assets/img/logo.png") }}" alt=""></p>
      			<p>For you a thousand - Copyright 2016</p>
      			</div>

      		</div><!-- /row -->
      	</div><!-- /container -->
	</div><!-- /footerwrap -->
{% end %}

