{% extends "main_base.html" %}


	{% block head %}
		<style type="text/css">
      		body {
        	padding-top: 80px;
      		}
    	</style>

 	<link href="{{ static_url("assets/css/main.css") }}" rel="stylesheet">
 	<link href="{{ static_url("assets/css/font-style.css") }}"  rel="stylesheet">
 	<link href="{{ static_url("assets/css/flexslider.css") }}" rel="stylesheet">

	{% end %}



	{% block top_line %}
		{% module PartLine(push_line) %}
	{% end %}

	{% block down_line %}

		{% for book in push_books %}
				{% module PushBook(book) %}
		{% end %}

		{% module PartLine(upload_line) %}

		{% for book in upload_books %}
			{% module UploadBook(book) %}
		{% end %}

	{% end %}



