
{% extends "base.html" %}
{% block head %}


 <link href="{{ static_url("assets/css/main.css") }}" rel="stylesheet">
 <link href="{{ static_url("assets/css/font-style.css") }}"  rel="stylesheet">
 <link href="{{ static_url("assets/css/register.css") }}" rel="stylesheet">


    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
{% end %}


{% block body %}

    <div class="container">
        <div class="row">

        	<div class="col-sm-6 col-lg-6">
        		<div id="register-wraper">
        		    <form id="register-form" class="form" method="post" action="/auth/register">
        		        <legend>用户注册</legend>

        		        <div class="body">

        		        	<label>用户ID</label>
        		        	<input class="input-huge" type="text" name = "username">
        		        	<!-- email -->
        		        	<label>验证邮箱</label>
        		        	<input class="input-huge" type="text" name = "email">
                            <label>推送邮箱</label>
        		        	<input class="input-huge" type="text" name = "kindle_email">
        		        	<!-- password -->
        		        	<label>密码</label>
        		        	<input class="input-huge" type="password" name = "password">
						     {% module xsrf_form_html() %}
        		        </div>
						<br>
        		        <div class="footer">
        		            <!--<label class="checkbox inline">-->
        		                <!--<input type="checkbox" id="inlineCheckbox1" value="option1"> I agree with the terms &amp; conditions-->
        		            <!--</label>-->
							{% if error %}
								<span style="color: red">Error: {{ error }}</span>
								{% end %}
							<br>
							<br>
        		            <button type="submit" class="btn btn-success">注册</button>
        		        </div>
        		    </form>
        		</div>
        	</div>


        </div>
    </div>

{% end %}


