<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=gb2312" />
<title>js代码</title>
<script type="text/javascript">

function validate_fileupload(target) {


 var uploadedFile = document.getElementById('upload');
    var fileSize = uploadedFile.files[0].size;
    var size = fileSize / 1024;
    if (size > 2000) {
    	 alert("图书不能大于2M");
    	target.value = "";
    	 return ;
    }
    var file_type = new Array("pdf","mobi","azw");
    var file_name = target.value.split('.').pop();


    if (file_type[0] == file_name || file_type[1] == file_name || file_type[2] == file_name) {
    		  alert("上传成功！");
    		  return;
    } else {

    		alert("图书仅支持.pdf、.mobi、.azw格式");
    		 target.value = "";
    		  return;
    }

}
</script>


</head>
<body>

	<input type="file" id = "upload" name="fileUpload" onchange="validate_fileupload(this);">


<select onchange="location = this.options[this.selectedIndex].value;">
    <option>Please select</option>
    <option value="http://www.apple.com/">Apple</option>
    <option value="http://www.bbc.com">BBC</option>
    <option value="http://www.facebook.com">Facebook</option>
</select>?

</body>
</html>